page-login {
    .center{
        text-align: center;
        font-size: 16px;
    }
    a{
        color: #2a8d2a!important;
    }
    .error-box{
        color:red;
        margin-left: 18px;
        margin-top: 4px;
    }
}
