<ion-header>

  <ion-navbar color='navbarColor'>
      <button ion-button menuToggle side="right"> 
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Cart</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="isEmptyCart" class="empty-cart">
    <div class="empty-results">
      <h3 text-center>
          <ion-icon name="cart"></ion-icon>
      </h3>
      <p text-center>
        Your cart is empty
      </p>
    </div>
  </div>
  <div *ngIf="!isEmptyCart" class="cart-itm-wrap">

    <ion-card *ngFor="let itm of  cartItems">
      <ion-card-content>
        <ion-row>
          <ion-col col-7>
            <h3 style="margin: 7px; font-size: 16px; color: #2a8d2a" text-left>{{itm.name}}</h3>

            <div class="itm-footer">
              <span (click)="removeItem(itm)" class="remove">
                Remove
              </span>
              <span class="price">
                {{itm.totalPrice | currency}}
              </span>
            </div>


          </ion-col>
          <ion-col>
            <ion-item>
              <ion-avatar>
                <img style="float: right"  src="data:image/png;base64,{{itm.thumb}}">
              </ion-avatar>
            </ion-item>
            <p style="color:#333" text-right>
              Qty: {{itm.count}}gm
            </p>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-grid *ngIf="!isEmptyCart">
    <ion-row>
      <ion-col style="text-align: center; color: #2a8d2a; font-size: 15px; font-weight: bold;">
         Total Amount: &nbsp; &nbsp; {{totalAmount | currency}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="addCart" (click)="checkOut()">
        <button round=true ion-button full color='navbarColor'>
          Checkout
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-row>
      <ion-col no-padding>
          <button no-margin ion-button full large color="navbarColor" (click)="homeGo()" ><ion-icon name='home'></ion-icon> &nbsp; Go to home
           </button>
      </ion-col> 
  </ion-row>
</ion-footer>