page-receipt {
    .qrcodeborder{
        border:1px dotted #2a8d2a;
        text-align: center;
        margin-bottom: 15px;
    }
   
    .receiptHeading{
        text-align: center;
        font-size: 23px;
        color: #2a8d2a;
        margin-bottom: 1em;

    }

    .contentText{
        text-align: justify;
        font-size: 18px;
        color: #222422;
        margin-bottom: 2em;
        padding: 5px;

    }

    .contentList{
        font-size: 16px;
        color: #2a8d2a;
        border:2px dotted #2a8d2a;
        margin-bottom: 1em;

    }
}
