page-forgotpassword {
  .item{
    border: 1px solid #9DBB90;
    border-radius: 5px;
  }
  .text-input::placeholder{
    color: #9DBB90!important;
  }
  .forgot{
    margin-top:30px;
  }
  .forgot-btn{
    background-color: #275C20;
    color: white;
    border-radius: 2px;
    margin-top:15px;
  }
  .error-box{
    color:red;
    margin-left: 18px;
    margin-top: 4px;
}

}
