page-orderdetail {
    .qrcodeborder{
        border:1px dotted #2a8d2a;
        text-align: center;
        margin-bottom: 15px;
    }
    .border{
        color: #2a8d2a;
        border:1px solid #2a8d2a;
        border-radius: 5px;
    }
}
