page-confirmpassword {
  .submit-btn{
    background-color: #275C20;
    color: white;
    border-radius: 2px;
    margin-top:15px;
    }
    .text-input::placeholder{
      color: #9DBB90!important;
    }
    .item{
      border: 1px solid #9DBB90;
      border-radius: 5px;
    }
}
