<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
 

    <!-- ***** ID Details ***** -->
  
    <ion-list-header>
      Basic Information
    </ion-list-header>

    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" name="first" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" name="last" ></ion-input>
    </ion-item>


    <div padding>
        <button ion-button (click)="takePhoto1()" full color="primary">Capture profile picture</button>  
        <p align="center"><img style="border-radius: 50%; height: 12em; width: 12em;" src="{{myProfilephoto}}" alt=""></p>      
      </div>

    <ion-item class="itemSelectBox">
      <ion-label>Sex</ion-label>
      <ion-select [(ngModel)]="sex">
        <ion-option value="male">Male</ion-option>
        <ion-option value="female">Female</ion-option>
        <ion-option value="others">Others</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime displayFormat="DD MMM, YYYY" min="1918" [(ngModel)]="dob" name="dob" ></ion-datetime>
    </ion-item>
   

    <ion-item>
      <ion-label floating>Street Name 1</ion-label>
      <ion-input type="text" [(ngModel)]="addr1" name="street1" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Street Name 2</ion-label>
      <ion-input type="text" [(ngModel)]="addr2" name="street2" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" [(ngModel)]="city" name="city" ></ion-input>
    </ion-item>

    <ion-item  class="itemSelectBox">
      <ion-label>Country</ion-label>
      <ion-select [(ngModel)]="countrySelect">
        <ion-option *ngFor="let i of countryList" [value]="i.id">{{i.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>ZIP Code</ion-label>
      <ion-input type="number" [(ngModel)]="zip" name="zip" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" ></ion-input>
    </ion-item>


    <ion-list class="radioButton" [(ngModel)]="customerType" radio-group>
      <ion-item>
        <ion-label>Recreational
          Type</ion-label>
        <ion-radio checked="true" value="adult_customer"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label> Medical
          Type</ion-label>
        <ion-radio value="medical_customer"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item class="itemSelectBox">
      <ion-label>Type of ID to be uploaded</ion-label>
      <ion-select  cancelText="Cancel" okText="Ok" [(ngModel)]="idtypeName">
        <ion-option *ngFor="let j of idtype" [value]="j.id">{{j.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label floating>ID Card Number</ion-label>
    <ion-input type="number" [(ngModel)]="idnum" name="id" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>ID Issued Place</ion-label>
    <ion-input type="text" [(ngModel)]="issuedPlace" name="place" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>ID Expiry Date</ion-label>
    <ion-datetime displayFormat="DD MMM, YYYY" min="2018" max="2040-12-31" [(ngModel)]="idexpiry" name="idexpiry" ></ion-datetime>

  </ion-item>

  <!-- <img [src]="idCapture" alt=""/> -->

  <div padding>
      <button ion-button (click)="takePhoto()" full color="primary">Take Photo</button>
      <p style="text-align: center; color: #2a8d2a;" >OR</p>
      <button ion-button (click)="getImage()" full color="primary">Get Photo From Library</button>

      <p align="center"><img padding src="{{ myphoto }}" alt=""></p>
    
    </div>




  <ion-list>
    <!-- ***** Medical ID Details ***** -->
    <ion-list-header>
      Medical ID Details
    </ion-list-header>

    <!-- <ion-item  class="itemSelectBox">   
        <ion-label>Type of Medical ID to be uploaded</ion-label>   
      <ion-select [(ngModel)]="medicalidtypeName">
        <ion-option value="mmid">California MMID</ion-option>
        <ion-option value="letter">Physician's Letter</ion-option>
      </ion-select>
    </ion-item> -->
    

    <ion-item>
      <ion-label floating>Medical ID Card Number</ion-label>
      <ion-input type="number" [(ngModel)]="medidnum" name="medidnum" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Medical ID Expiry Date</ion-label>
      <ion-datetime displayFormat="DD MMM, YYYY" min="2018" max="2040-12-31" [(ngModel)]="medexpiry" name="medexpiry" ></ion-datetime>

    </ion-item>

    <ion-item>
      <ion-label floating>County of Residence</ion-label>
      <ion-input type="text" [(ngModel)]="county" name="county" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Issuing Physician's name</ion-label>
      <ion-input type="text" [(ngModel)]="physicianName" name="physicianName" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Issuing Physician's ID</ion-label>
      <ion-input type="text" [(ngModel)]="physicianID" name="physicianID" ></ion-input>
    </ion-item>

    <div padding>
        <button ion-button color='primary' (click)="getImage1()" block >Upload Medical Id</button>
        <p align="center"><img padding src="{{ myphoto1 }}" alt=""></p>
          <button ion-button color='primary' (click)="getImage2()" block >Upload Physician's letter</button>
          <p align="center"><img padding src="{{ myphoto3 }}" alt=""></p>

          <!-- <p style="text-align: center; color: #2a8d2a;" >OR</p>    
          <button ion-button color='primary' (click)="choose()" block >Upload Pdf</button> -->
        </div>
  </ion-list>


  <div padding>
    <button ion-button color='navbarColor' block (click)=register(firstname,lastname,sex,dob,addr1,addr2,city,countrySelect,zip,email,customerType,idtypeName,issuedPlace,idnum,idexpiry,medidnum,medexpiry,county,physicianName,physicianID)>Sign Up</button>
  </div>

</ion-content>