page-signup {
    
    .list-header-md {
        padding-left: 16px;
        margin-bottom: 0; 
        min-height: 4.5rem;
        border-top: 1px solid #ffff;
        font-size: 2.4rem;
        color: #2a8d2a;
    }

    .item-radio.item-md ion-label{
        color: #999;
    }


    .itemSelectBox{
        padding-top: 20px;
    }


    item-radio{
        padding-top: 20px;
    }

    .radioButton{
        border: 1px #2a8d2a solid;
        margin: 20px 5px 16px;    }
    
    .error-box{
        color:red;
        margin-left: 18px;
        margin-top: 4px;
    }
}
